<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Forget Password</title>
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="">
  <style type="text/css" media="screen">
    #ex4{
        width: 50%; 
      }
      #ex5{
        width: 50%;
      } 
      #btn{
        margin-top: 10px;
      }
  </style>
</head>
<body>
  <div class = "clearfix">
  <div class = "container">
    <h2>Change your password</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off",  class: 'form-control', id: 'ex4' %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",  class: 'form-control', id: 'ex5' %>
  </div>
  <div class="actions">
    <%= f.submit "Change my password", id: 'btn', class: 'btn btn-primary' %>
  </div>
<% end %>
<%= render "users/shared/links" %>
  </div>
</div>
</body>
</html>
