<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>New Password</title>
	<link rel="stylesheet" href="">
	<link rel="stylesheet" href="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="">
  <style type="text/css" media="screen">
      #ex5{
        width: 50%;
      }
      #btn{
      	margin-top: 10px;
      }
  </style>
</head>
<body>
	<div class = "clearfix">
  <div class = "container">
  	<h2>Forgot your password?</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', id: 'ex5' %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", id: 'btn', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "users/shared/links" %>

  </div>
</div>
</body>
</html>
