<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Blog</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <style>
      .container{
        background-color: #e6ecef;
        }
      .myflex{
        border: 1px solid black;
      }
    </style>
</head>
<body>
  <p id="notice"><%= notice %></p>
  <div class="container  shadow-lg p-3 mb-5  rounded border">
    <%= link_to "<button type='button' class='btn btn-secondary'>Back</button>".html_safe, controller: 'welcome' %>
    <h1 align="center">My Blog</h1>
    <div class="container-fluid">
      <table class="table table-hover">

        <thead>
          <tr class="table-primary y">
            <th>Title</th>
            <th>Content</th>
            <th colspan="3">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.body %></td>
            <td><%= link_to "<button type='button' class='btn btn-success'>Show</button>".html_safe,  post %></td>
            <td><%= link_to "<button type='button' class='btn btn-primary'>Edit</button>".html_safe, edit_post_path(post) %></td>
            <td><%= button_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } ,class: 'btn btn-danger'%></td>
            
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to "<button type='button' class='btn btn-primary'>New Post</button>".html_safe, new_post_path %>
      <%= link_to "<button type='button' class='btn btn-success'>Download Index</button>".html_safe, posts_path(format: "csv") %>
    </div>
  </div>
</body>
</html>