<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
		<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  		<!-- jQuery library -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  		<!-- Popper JS -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  		<!-- Latest compiled JavaScript -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  	<style>
  		.container{
  			background-color: #e6ecef;
  			}
  		.myflex{
  			border: 1px solid black;
  		}
  	</style>
</head>
<body>
	<!-- Display the blog -->
	<div class="container shadow-lg p-3 mb-5  rounded border">
    <h1 align="center">My Blog</h1>
		<div class="row">
			<div class="col-md-2"><strong>Title:</strong></div>
			<div class="col-md-10"><%= @post.title %></div>
		</div>
		<div class="row">
			<div class="col-md-2"><strong>Content:</strong></div>
			<div class="col-md-10"><%= @post.body %></div>
		</div>
    <div class="row">
      <div class="col-md-2"><strong>Attachment:</strong></div>
      <div class="col-md-10"><%= image_tag(@post.image_url.to_s) %> 
      <%= link_to "Download Attachment", @post.image_url ,download:true %></div>  
    </div>

    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
		
	</div>
</body>
</html>



