<!-- Admin controls -->
<html>
<head>
	<title>Admin control Panel</title>
  <!-- Css style -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <style>
      table, td, th {
      border: 1px solid black; 
      margin-top: 50px;
    }
    table {
      border-collapse: collapse;
      width: 15%;
      background-color: white;
  }
  h1{
    text-align: center;
    color: #fdfbfb;
  }
   #header{
        background: white;
      }
      body{
       background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          color: #3191bfd6;
          height: 450px;
          padding-top: 50px;
      }
  </style>
</head>
<body>
   <div class = "clearfix">
        <div class="container">
    <h1>Blogger Details</h1>
<p class="navbar-text pull-left">
      <span><%= link_to 'My Blog', controller: 'articles', class: 'navbar-brand'  %></span></p>
    <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Login",welcome_index_path, :class => 'navbar-link', align: 'left'  %>
          <% end %>
        </p>
      </div>
</div>
</div>
<div class = "container">
<table align="center" class="table table-bordered table-striped"> <!--Table tag used for displaying data in table format-->
  <tr class="info">
    <th>Title</th>
    <th>Text</th>
    <th colspan="3">Admin Controls</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <div class="btn-group">
      <td><%= link_to 'Show', article_path(article), class: 'btn btn-success'  %></td> <!-- redirect to show page as per perticular blog id-->
      <td><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-primary' %></td> <!--redirect to Edit page-->
      <td><%= button_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
</table>
  <center><%= link_to 'New article', new_article_path, class: 'btn btn-primary' %> <!--redirect to New article page-->
  <%= link_to "Download Blogs", articles_path(format: "csv"), class: 'btn btn-primary' %> <!--Download All blog in .csv format-->
  </center>
  </div> <!--create new Article-->
</div>
</body>
</html>
