<!DOCTYPE html> 
<html>
<head>
  <title>Blog</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <style type="text/css" media="screen">
      body{
          background-color: #2c5b7c;
      }
      #ex5{
        width: 50%;
      } 
      #ex6{
        width: 50%;
        height: 50%
      } 
      #header{
        background: white;
      }
      #blog{
        margin: auto;
        width: 50%;
        padding: 10px;
      }
    </style>
</head>
<body>
<div id = "header">
  <div class = "clearfix">
    <div class="container">
      <h2>Blog</h2>
        <p class="navbar-text pull-left">
          <%= link_to 'My Blog', controller: 'articles', class: 'navbar-brand'  %></p>
            <p class="navbar-text pull-right">
              <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
              <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
              <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
        </p>
      </div>
</div>
</div>
  <div class = "container" id = "blog">
  <%= form_with model: @article, local: true do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control', id: 'ex5' %>
  </p>
  <br>
  <p>
    <%= form.label :text  %><br>
    <%= form.text_area :text, class: 'form-control', id: 'ex6' %>
  </p>
  <p>
    <%= form.submit %>  
     <%= form.file_field :attachment %> <!-- Upload file -->
  </p>
<% end %>
<%= link_to 'Back', articles_path, class: 'btn btn-primary' %>
</div>
</body>
</html>