<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>User Registration</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <style type="text/css" media="screen">
      body{
        background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          color: #3191bfd6;
          height: 450px;
          padding-top: 50px;
      } 
      #ex4{
        width: 50%;
      }
      #ex5{
        width: 50%;
      } 
      #ex6{
        width: 50%;      }
      #btn{
        margin-top: 10px;
      }
    </style>
</head>
<body>
  <div id = "header">
   <div class = "clearfix">
  <div class = "container">
  <h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', id: 'ex4' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', id: 'ex5' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', id: 'ex6' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", id: 'btn', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>
</div>
</body>
</html>
